html{
    min-height:100vh;
    position:relative;
}

body {
    padding-bottom:56px;
}

footer{
    position:absolute;
    bottom:0;
}

#resultats figure{
    width:90%; 
    padding:5px;   
}

#resultats figure img{
    width:100%;
}


button.bouton-pagination{
    outline:none;
    border:1px solid black;
    font-size:10px;
    margin:0 3px;
}

button.bouton-pagination.active{
    background:orange;
}

.loader{
    width:40px;
    height:40px;
}

/*-----------------------  MEDIA QUERIES -------------------*/
@media screen and (min-width:392px){
    #resultats figure{
        width:40%;
    }    
}


@media screen and (min-width:768px){
    #resultats figure{
        width:25%;
    }   
}

